* {
  box-sizing: border-box;
  list-style: none;
}

ul {
  padding: 0;
}

.container {
  width: 500px;
  background-color: #dfdfdf;
  /* 코드 작성 */
  display: flex;
  flex-wrap: wrap;
}

.header {
  background-color: pink;
  width: 100%;
}

.nav {
  background-color: yellow;
  width: 100%;
}

/* 추가 CSS 코드 작성 */
.menus {
  display: flex;
  justify-content: start;
}
.menu {
  background-color: orange;
  margin: 10px;
  padding: 3px;
}

.sign {
  width: 100%;
}

/* 추가 CSS 코드 작성 */
.user-info {
  width: 45%;
  background-color: skyblue;
  display: block;
  float: left;
  padding: 3px;
  margin-right: 5px;
}
.user-info .id {
  width: 70%;
}
.user-info .pw {
  width: 60%;
}

.main,
.aside {
  height: 300px;
}

.main {
  background-color: lightGreen;
  width: 350px;
  padding: 10px;
  /* 코드 작성 */
  display: flex;
}

section {
  width: 50%;
}

.section1 {
  background-color: green;
}

.section2 {
  background-color: khaki;
}

.aside {
  background-color: coral;
  width: 150px;
}

.footer {
  background-color: lightGrey;
  width: 100%;
  height: 50px;
}
