.container {
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  /* 코드 작성 */
}

.item {
  width: 100px;
  height: 100px;
}

.item:nth-child(1) {
  background-color: pink;
  width: 200px;
  order: 1;
  /* 코드 작성 */
}

.item:nth-child(2) {
  background-color: yellow;
}

.item:nth-child(3) {
  background-color: lightGreen;
}

.item:nth-child(4) {
  background-color: skyBlue;
  /* 코드 작성 */
  order: 2;
}

.item:nth-child(5) {
  background-color: lightGrey;
  /* 코드 작성 */
  order: 2;
}

.item:nth-child(6) {
  background-color: lightCoral;
  /* 코드 작성 */
  order: 2;
}

.item:nth-child(7) {
  background-color: violet;
  /* 코드 작성 */
  order: 2;
}
